<a href="https://colab.research.google.com/github/Rayfalmayvandra/Praktikum-Struktur-Data/blob/main/2410506009_StrukDat_Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Latihan 1**

In [ ]:
data = []

#Inisialisasi array dengan elemen
angka = [10, 20, 30, 40, 50]

#Menampilkan isi array
print("Isi array angka:", angka)

Isi array angka: [10, 20, 30, 40, 50]

In [ ]:
#Latihan 1
NPM = []
NPM = [2410506009, 2410506010, 2410506011, 2410506012]
print("Isi array NPM:", NPM)

Isi array NPM: [2410506009, 2410506010, 2410506011, 2410506012]

# **Latihan 2**

In [ ]:
#Mengakses elemen Array
print("Elemen pertama:", angka[0]) #Elemen pertama
print("Elemen tekahir:", angka[-1]) #Elemen terakhir

Elemen pertama: 10
Elemen tekahir: 50

In [ ]:
#Menambah elemen menggunakan append()
angka.append(60) #
print("Array setelah penambahan elemen:", angka)

#Menambah elemen menggunakan insert()
angka.insert(2, 25) #Menyisipkan 25 di indeks ke-2
print("Array setelah penambahan elemen dengan insert:", angka)

Array setelah penambahan elemen: [10, 20, 30, 40, 50, 60]
Array setelah penambahan elemen dengan insert: [10, 20, 25, 30, 40, 50, 60]

In [ ]:
#Menghapus elemen menggunakan remove()
angka.remove(25)
print("Array setelah menghapus elemen 25:", angka)

#Menghapus elemen menggunakan pop()
angka.pop(2) #Menghapus elemen pada indeks ke-2
print("Array setelah menghapus elemen pada indeks 2:", angka)

Array setelah menghapus elemen 25: [10, 20, 30, 40, 50, 60]
Array setelah menghapus elemen pada indeks 2: [10, 20, 40, 50, 60]

In [ ]:
#Mengubah elemen pada indeks 0
angka[0] = 100
print("Array setelah mengubah elemen pertama:", angka)

Array setelah mengubah elemen pertama: [100, 20, 40, 50, 60]

In [ ]:
#Latihan 2
angka.append(9)
print("Array setelah penambahan elemen:", angka)
angka.pop(0)
print("Array setelah penghapusan elemen:", angka)

Array setelah penambahan elemen: [100, 20, 40, 50, 60, 9]
Array setelah penghapusan elemen: [20, 40, 50, 60, 9]

# **Latihan 3**

In [ ]:
angka = [10, 20, 30, 40]
for nilai in angka:
    print("Nilai", nilai)

Nilai 10
Nilai 20
Nilai 30
Nilai 40

In [ ]:
#Latihan 3
fakultas = ["Teknik", "Pertanian", "Ekonomi", "Pendidikan", "Ilmu Politik dan Hukum"]
for fakultas in fakultas:
    print("Fakultas", fakultas)

Fakultas Teknik
Fakultas Pertanian
Fakultas Ekonomi
Fakultas Pendidikan
Fakultas Ilmu Politik dan Hukum

# **Latihan 4**

In [ ]:
angka = [10, 20, 30, 40]

print("Jumlah total:", sum(angka))
print("Nilai maksimum:", max(angka))
print("Nilai minimum", min(angka))

Jumlah total: 100
Nilai maksimum: 40
Nilai minimum 10

In [ ]:
#Latihan 4
harga_barang = [1000, 2000, 3000, 4000, 5000]
print("Jumlah total:", sum(harga_barang))
print("Harga tertinggi:", max(harga_barang))
print("Harga terendah:", min(harga_barang))

Jumlah total: 15000
Harga tertinggi: 5000
Harga terendah: 1000

# **Latihan 5**

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("Isi array 2D:")
for baris in matriks:
    print(baris)

Isi array 2D:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
#Latihan 5
matriks = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

print("Isi array 2D:")
for baris in matriks:
    print(baris)

Isi array 2D:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

# **Latihan 6**

In [ ]:
#Mengakses elemen pada baris ke-1, kolom ke-2 (indeks [0][1])
print("Elemen pada baris 1, kolom 2:", matriks[0][1])

#Mengakses elemen terakhir (baris ke-3, kolom ke-3)
print("Elemen terakhir:", matriks[-1][-1])

Elemen pada baris 1, kolom 2: 2
Elemen terakhir: 12

In [ ]:
#Latihan 6
print("Elemen pada baris 2, kolom 4:", matriks[1][3])
print("Elemen terakhir:", matriks[-1][-1])

Elemen pada baris 2, kolom 4: 8
Elemen terakhir: 12

# **Latihan 7**

In [ ]:
#Menambahkan baris baru
matriks.append([10, 11, 12])
print("Array setelah menambahkan baris baru:", matriks)

#Menambahkan elemen pada baris ke-2
matriks[1].append(99)
print("Array setelah menambahkan elemen pada baris ke-2:", matriks)

Array setelah menambahkan baris baru: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [10, 11, 12]]
Array setelah menambahkan elemen pada baris ke-2: [[1, 2, 3, 4], [5, 6, 7, 8, 99], [9, 10, 11, 12], [10, 11, 12]]

In [ ]:
#Latihan 7
matriks.append([29, 5, 20, 5])
print("Array setelah menambahkan baris baru:", matriks)

Array setelah menambahkan baris baru: [[1, 2, 3, 4], [5, 6, 7, 8, 99], [9, 10, 11, 12], [10, 11, 12], [29, 5, 20, 5]]

# **Latihan 8**

In [ ]:
#Menghapus elemen tertentu dari baris ke-1
matriks[0].remove(2)
print("Array setelah menghapus elemen 2 dari baris pertama:", matriks)

#Menghapus elemen pada indeks tertentu dari baris ke-2
matriks[1].pop(1)
print("Array setelah menghapus elemen pada indeks 1 dari baris ke-2:", matriks)

Array setelah menghapus elemen 2 dari baris pertama: [[1, 3, 4], [5, 6, 7, 8, 99], [9, 10, 11, 12], [10, 11, 12], [29, 5, 20, 5]]
Array setelah menghapus elemen pada indeks 1 dari baris ke-2: [[1, 3, 4], [5, 7, 8, 99], [9, 10, 11, 12], [10, 11, 12], [29, 5, 20, 5]]

In [ ]:
#Latihan 8
matriks[-1].pop(2)
print("Array setelah menghapus elemen ke-3 dari baris terakhir", matriks)

Array setelah menghapus elemen ke-3 dari baris terakhir [[1, 3, 4], [5, 7, 8, 99], [9, 10, 11, 12], [10, 11, 12], [29, 5, 5]]

# **Latihan 9**

In [ ]:
#Mengubah elemen pada baris ke-3, kolom ke-2
matriks[2][1] = 88
print("Array setelah mengubah elemen baris ke-3, kolom ke-2:", matriks)

Array setelah mengubah elemen baris ke-3, kolom ke-2: [[1, 3, 4], [5, 7, 8, 99], [9, 88, 11, 12], [10, 11, 12], [29, 5, 5]]

In [ ]:
#Latihan 9
matriks[4][2] = 14
print("Array setelah mengubah elemen pada baris terakhir kolom terakhir dengan tanggal hari ini:",  matriks)

Array setelah mengubah elemen pada baris terakhir kolom terakhir dengan tanggal hari ini: [[1, 3, 4], [5, 7, 8, 99], [9, 88, 11, 12], [10, 11, 12], [29, 5, 14]]

# **Latihan 10**

In [ ]:
belanja = ["Beras", "Gula", "Minyak"]
belanja.append("Teh")
belanja.remove("Gula")
print("Daftar belanja terbaru:", belanja)

Daftar belanja terbaru: ['Beras', 'Minyak', 'Teh']

In [ ]:
#Latihan 10
belanja_rayfal = ["Indomie", "Susu", "Cola"]
belanja_rayfal.append("Snack")
belanja_rayfal.remove("Cola")
print("Daftar belanja rayfal terbaru:", belanja_rayfal)

Daftar belanja rayfal terbaru: ['Indomie', 'Susu', 'Snack']