<a href="https://colab.research.google.com/github/Rayfalmayvandra/Praktikum-Struktur-Data/blob/main/2410506009_StrukDat_Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Implementasi Bubble Sort**

In [ ]:
def bubble_sort(arr):
  n = len(arr)
  for i in range(n - 1):
      for j in range(n - 1):
        if arr[j] > arr[j + 1]:
            arr[j], arr[j + 1] = arr[j + 1], arr[j]
  return arr

#Contoh Penggunaan
data = [64, 34, 25, 12, 22, 11, 90]
sorted_data = bubble_sort(data.copy()) #Menggunakan copy agar data asli tidak berubah
print("Data sebelum sorting:", data)
print("Data setelah Bubble Sort:", sorted_data)

Data sebelum sorting: [64, 34, 25, 12, 22, 11, 90]
Data setelah Bubble Sort: [11, 12, 22, 25, 34, 64, 90]

# **Impelementasi Selection Sort**

In [ ]:
def selection_sort(arr):
  n = len(arr)
  for i in range(n - 1):
      min_index = i
      for j in range(i + 1, n):
          if arr[j] < arr[min_index]:
              min_index = j
      arr[i], arr[min_index] = arr[min_index], arr[i]
  return arr

#Contoh Penggunaan
data = [64, 25, 12, 22, 11]
sorted_data = selection_sort(data.copy())
print("Data sebelum sorting:", data)
print("Data setelah Selection Sort:", sorted_data)

Data sebelum sorting: [64, 25, 12, 22, 11]
Data setelah Selection Sort: [11, 12, 22, 25, 64]

# **Implementasi Insertion Sort**

In [ ]:
def insertion_sort(arr):
    n = len(arr)
    for i in range(1, n):
        key = arr[i]
        j = i - 1
        while j >= 0 and arr[j] > key:
            arr[j + 1] = arr[j]
            j -= 1
        arr[j + 1] = key
    return arr

# Contoh penggunaan
data = [64, 34, 25, 12, 22, 11, 90]
sorted_data = insertion_sort(data.copy())

print("Data sebelum sorting:", data)
print("Data setelah Insertion Sort:", sorted_data)

Data sebelum sorting: [64, 34, 25, 12, 22, 11, 90]
Data setelah Insertion Sort: [11, 12, 22, 25, 34, 64, 90]

# **Implementasi Merge Sort**

In [ ]:
def merge_sort(arr):
  if len(arr) > 1:
      mid = len(arr) // 2
      left_half = arr[:mid]
      right_half = arr[mid:]

      merge_sort(left_half)
      merge_sort(right_half)

      i = j = k = 0

      while i < len(left_half) and j < len(right_half):
        if left_half[i] < right_half[j]:
            arr[k] = left_half[i]
            i += 1
        else:
            arr[k] = right_half[j]
            j += 1
            k += 1

      while i < len(left_half):
          arr[k] = left_half[i]
          i += 1
          k += 1

      while j < len(right_half):
          arr[k] = right_half[j]
          j += 1
          k += 1

  return arr

#Contoh Penggunaan
data = [64, 25, 12, 22, 11]
sorted_data = merge_sort(data.copy())
print("Data sebelum sorting:", data)
print("Data setelah Merge Sort:", sorted_data)

Data sebelum sorting: [64, 25, 12, 22, 11]
Data setelah Merge Sort: [11, 22, 11, 25, 64]

# **Implementasi Quick Sort**

In [ ]:
def quick_sort(arr):
    if len(arr) <= 1:
        return arr

    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]

    return quick_sort(left) + middle + quick_sort(right)

#Contoh Penggunaan
data = [64, 25, 12, 22, 11]
sorted_data = quick_sort(data.copy())
print("Data sebelum sorting:", data)
print("Data setelah Quick Sort:", sorted_data)

Data sebelum sorting: [64, 25, 12, 22, 11]
Data setelah Quick Sort: [11, 12, 22, 25, 64]

# **Latihan/Tugas**

In [ ]:
def quick_sort(arr, key):
    if len(arr) <= 1:
        return arr
    else:
      pivot = arr[len(arr) // 2][key]
      left = [x for x in arr if x[key] < pivot]
      middle = [x for x in arr if x[key] == pivot]
      right = [x for x in arr if x[key] > pivot]

      return quick_sort(left, key) + middle + quick_sort(right, key)

data_pelanggan = [
    {"Nama": "Abdi", "Umur": 18, "Total_Belanja": 50000},
    {"Nama": "Xela", "Umur": 29, "Total_Belanja": 30000},
    {"Nama": "Galang", "Umur": 18, "Total_Belanja": 150000},
    {"Nama": "Elia", "Umur": 17, "Total_Belanja": 65000},
    {"Nama": "Figo", "Umur": 20, "Total_Belanja": 500000},
    {"Nama": "Kalia", "Umur": 17, "Total_Belanja": 90000},
    {"Nama": "Labubu", "Umur": 14, "Total_Belanja": 10000},
    {"Nama": "Sasa", "Umur": 19, "Total_Belanja": 70000},
    {"Nama": "Putra", "Umur": 14, "Total_Belanja": 17000},
    {"Nama": "Ozan", "Umur": 21, "Total_Belanja": 155000},
    {"Nama": "Wendy", "Umur": 15, "Total_Belanja": 3000},
    {"Nama": "Qila", "Umur": 20, "Total_Belanja": 220000},
    {"Nama": "Jaya", "Umur": 15, "Total_Belanja": 23000},
    {"Nama": "Hanif", "Umur": 10, "Total_Belanja": 8000},
    {"Nama": "Ilyas", "Umur": 17, "Total_Belanja": 60000},
    {"Nama": "Rayfal", "Umur": 18, "Total_Belanja": 40000},
    {"Nama": "Dede", "Umur": 36, "Total_Belanja": 76000},
    {"Nama": "Yasa", "Umur": 15, "Total_Belanja": 23000},
    {"Nama": "Tugu", "Umur": 33, "Total_Belanja": 79000},
    {"Nama": "Bana", "Umur": 17, "Total_Belanja": 45000},
    {"Nama": "Cici", "Umur": 34, "Total_Belanja": 65000},
    {"Nama": "Zahra", "Umur": 25, "Total_Belanja": 100000},
    {"Nama": "Maya", "Umur": 17, "Total_Belanja": 5000},
    {"Nama": "Nana", "Umur": 31, "Total_Belanja": 50000},
    {"Nama": "Velicia", "Umur": 22, "Total_Belanja": 12000},
    {"Nama": "Uli", "Umur": 16, "Total_Belanja": 79000}

]

print("\n<-----Masukkan Angka Pilihan Data yang ingin ditampilkan----->")
print("1. Nama (A-Z)")
print("2. Umur Pelanggan")
print("3. Total Belanja Pelanggan")
pilihan = input("Masukkan pilihan :")

if pilihan == "1":
  key = "Nama"
elif pilihan == "2":
  key = "Umur"
elif pilihan == "3":
  key = "Total_Belanja"
else:
  print("Pilihan tidak valid:")
  exit()


sorted_data = quick_sort(data_pelanggan, key)
print("\n<-----Data Pelanggan E-Commerce Takapedia----->")
print("\nData Pelanggan Sebelum diurutkan:", data_pelanggan)
print(f"Data Pelanggan Setelah diurutkan berdasarkan: {key}")
for data_pelanggan in sorted_data:
    print(data_pelanggan)

<-----Masukkan Angka Pilihan Data yang ingin ditampilkan----->
1. Nama (A-Z)
2. Umur Pelanggan
3. Total Belanja Pelanggan
Masukkan pilihan :1

<-----Data Pelanggan E-Commerce Takapedia----->

Data Pelanggan Sebelum diurutkan: [{'Nama': 'Abdi', 'Umur': 18, 'Total_Belanja': 50000}, {'Nama': 'Xela', 'Umur': 29, 'Total_Belanja': 30000}, {'Nama': 'Galang', 'Umur': 18, 'Total_Belanja': 150000}, {'Nama': 'Elia', 'Umur': 17, 'Total_Belanja': 65000}, {'Nama': 'Figo', 'Umur': 20, 'Total_Belanja': 500000}, {'Nama': 'Kalia', 'Umur': 17, 'Total_Belanja': 90000}, {'Nama': 'Labubu', 'Umur': 14, 'Total_Belanja': 10000}, {'Nama': 'Sasa', 'Umur': 19, 'Total_Belanja': 70000}, {'Nama': 'Putra', 'Umur': 14, 'Total_Belanja': 17000}, {'Nama': 'Ozan', 'Umur': 21, 'Total_Belanja': 155000}, {'Nama': 'Wendy', 'Umur': 15, 'Total_Belanja': 3000}, {'Nama': 'Qila', 'Umur': 20, 'Total_Belanja': 220000}, {'Nama': 'Jaya', 'Umur': 15, 'Total_Belanja': 23000}, {'Nama': 'Hanif', 'Umur': 10, 'Total_Belanja': 8000}, {'Nama': 'Ilyas', 'Umur': 17, 'Total_Belanja': 60000}, {'Nama': 'Rayfal', 'Umur': 18, 'Total_Belanja': 40000}, {'Nama': 'Dede', 'Umur': 36, 'Total_Belanja': 76000}, {'Nama': 'Yasa', 'Umur': 15, 'Total_Belanja': 23000}, {'Nama': 'Tugu', 'Umur': 33, 'Total_Belanja': 79000}, {'Nama': 'Bana', 'Umur': 17, 'Total_Belanja': 45000}, {'Nama': 'Cici', 'Umur': 34, 'Total_Belanja': 65000}, {'Nama': 'Zahra', 'Umur': 25, 'Total_Belanja': 100000}, {'Nama': 'Maya', 'Umur': 17, 'Total_Belanja': 5000}, {'Nama': 'Nana', 'Umur': 31, 'Total_Belanja': 50000}, {'Nama': 'Velicia', 'Umur': 22, 'Total_Belanja': 12000}, {'Nama': 'Uli', 'Umur': 16, 'Total_Belanja': 79000}]
Data Pelanggan Setelah diurutkan berdasarkan: Nama
{'Nama': 'Abdi', 'Umur': 18, 'Total_Belanja': 50000}
{'Nama': 'Bana', 'Umur': 17, 'Total_Belanja': 45000}
{'Nama': 'Cici', 'Umur': 34, 'Total_Belanja': 65000}
{'Nama': 'Dede', 'Umur': 36, 'Total_Belanja': 76000}
{'Nama': 'Elia', 'Umur': 17, 'Total_Belanja': 65000}
{'Nama': 'Figo', 'Umur': 20, 'Total_Belanja': 500000}
{'Nama': 'Galang', 'Umur': 18, 'Total_Belanja': 150000}
{'Nama': 'Hanif', 'Umur': 10, 'Total_Belanja': 8000}
{'Nama': 'Ilyas', 'Umur': 17, 'Total_Belanja': 60000}
{'Nama': 'Jaya', 'Umur': 15, 'Total_Belanja': 23000}
{'Nama': 'Kalia', 'Umur': 17, 'Total_Belanja': 90000}
{'Nama': 'Labubu', 'Umur': 14, 'Total_Belanja': 10000}
{'Nama': 'Maya', 'Umur': 17, 'Total_Belanja': 5000}
{'Nama': 'Nana', 'Umur': 31, 'Total_Belanja': 50000}
{'Nama': 'Ozan', 'Umur': 21, 'Total_Belanja': 155000}
{'Nama': 'Putra', 'Umur': 14, 'Total_Belanja': 17000}
{'Nama': 'Qila', 'Umur': 20, 'Total_Belanja': 220000}
{'Nama': 'Rayfal', 'Umur': 18, 'Total_Belanja': 40000}
{'Nama': 'Sasa', 'Umur': 19, 'Total_Belanja': 70000}
{'Nama': 'Tugu', 'Umur': 33, 'Total_Belanja': 79000}
{'Nama': 'Uli', 'Umur': 16, 'Total_Belanja': 79000}
{'Nama': 'Velicia', 'Umur': 22, 'Total_Belanja': 12000}
{'Nama': 'Wendy', 'Umur': 15, 'Total_Belanja': 3000}
{'Nama': 'Xela', 'Umur': 29, 'Total_Belanja': 30000}
{'Nama': 'Yasa', 'Umur': 15, 'Total_Belanja': 23000}
{'Nama': 'Zahra', 'Umur': 25, 'Total_Belanja': 100000}

In [1]:
def quick_sort(arr, key):
    if len(arr) <= 1:
        return arr
    else:
      pivot = arr[len(arr) // 2][key]
      left = [x for x in arr if x[key] < pivot]
      middle = [x for x in arr if x[key] == pivot]
      right = [x for x in arr if x[key] > pivot]

      return quick_sort(left, key) + middle + quick_sort(right, key)

data_pelanggan = [
    {"Nama": "Abdi", "Umur": 18, "Total_Belanja": 50000},
    {"Nama": "Xela", "Umur": 29, "Total_Belanja": 30000},
    {"Nama": "Galang", "Umur": 18, "Total_Belanja": 150000},
    {"Nama": "Elia", "Umur": 17, "Total_Belanja": 65000},
    {"Nama": "Figo", "Umur": 20, "Total_Belanja": 500000},
    {"Nama": "Kalia", "Umur": 17, "Total_Belanja": 90000},
    {"Nama": "Labubu", "Umur": 14, "Total_Belanja": 10000},
    {"Nama": "Sasa", "Umur": 19, "Total_Belanja": 70000},
    {"Nama": "Putra", "Umur": 14, "Total_Belanja": 17000},
    {"Nama": "Ozan", "Umur": 21, "Total_Belanja": 155000},
    {"Nama": "Wendy", "Umur": 15, "Total_Belanja": 3000},
    {"Nama": "Qila", "Umur": 20, "Total_Belanja": 220000},
    {"Nama": "Jaya", "Umur": 15, "Total_Belanja": 23000},
    {"Nama": "Hanif", "Umur": 10, "Total_Belanja": 8000},
    {"Nama": "Ilyas", "Umur": 17, "Total_Belanja": 60000},
    {"Nama": "Rayfal", "Umur": 18, "Total_Belanja": 40000},
    {"Nama": "Dede", "Umur": 36, "Total_Belanja": 76000},
    {"Nama": "Yasa", "Umur": 15, "Total_Belanja": 23000},
    {"Nama": "Tugu", "Umur": 33, "Total_Belanja": 79000},
    {"Nama": "Bana", "Umur": 17, "Total_Belanja": 45000},
    {"Nama": "Cici", "Umur": 34, "Total_Belanja": 65000},
    {"Nama": "Zahra", "Umur": 25, "Total_Belanja": 100000},
    {"Nama": "Maya", "Umur": 17, "Total_Belanja": 5000},
    {"Nama": "Nana", "Umur": 31, "Total_Belanja": 50000},
    {"Nama": "Velicia", "Umur": 22, "Total_Belanja": 12000},
    {"Nama": "Uli", "Umur": 16, "Total_Belanja": 79000}

]

print("\n<-----Masukkan Angka Pilihan Data yang ingin ditampilkan----->")
print("1. Nama (A-Z)")
print("2. Umur Pelanggan")
print("3. Total Belanja Pelanggan")
pilihan = input("Masukkan pilihan :")

if pilihan == "1":
  key = "Nama"
elif pilihan == "2":
  key = "Umur"
elif pilihan == "3":
  key = "Total_Belanja"
else:
  print("Pilihan tidak valid:")
  exit()


sorted_data = quick_sort(data_pelanggan, key)
print("\n<-----Data Pelanggan E-Commerce Takapedia----->")
print("\nData Pelanggan Sebelum diurutkan:", data_pelanggan)
print(f"Data Pelanggan Setelah diurutkan berdasarkan: {key}")
for data_pelanggan in sorted_data:
    print(data_pelanggan)

<-----Masukkan Angka Pilihan Data yang ingin ditampilkan----->
1. Nama (A-Z)
2. Umur Pelanggan
3. Total Belanja Pelanggan
Masukkan pilihan :2

<-----Data Pelanggan E-Commerce Takapedia----->

Data Pelanggan Sebelum diurutkan: [{'Nama': 'Abdi', 'Umur': 18, 'Total_Belanja': 50000}, {'Nama': 'Xela', 'Umur': 29, 'Total_Belanja': 30000}, {'Nama': 'Galang', 'Umur': 18, 'Total_Belanja': 150000}, {'Nama': 'Elia', 'Umur': 17, 'Total_Belanja': 65000}, {'Nama': 'Figo', 'Umur': 20, 'Total_Belanja': 500000}, {'Nama': 'Kalia', 'Umur': 17, 'Total_Belanja': 90000}, {'Nama': 'Labubu', 'Umur': 14, 'Total_Belanja': 10000}, {'Nama': 'Sasa', 'Umur': 19, 'Total_Belanja': 70000}, {'Nama': 'Putra', 'Umur': 14, 'Total_Belanja': 17000}, {'Nama': 'Ozan', 'Umur': 21, 'Total_Belanja': 155000}, {'Nama': 'Wendy', 'Umur': 15, 'Total_Belanja': 3000}, {'Nama': 'Qila', 'Umur': 20, 'Total_Belanja': 220000}, {'Nama': 'Jaya', 'Umur': 15, 'Total_Belanja': 23000}, {'Nama': 'Hanif', 'Umur': 10, 'Total_Belanja': 8000}, {'Nama': 'Ilyas', 'Umur': 17, 'Total_Belanja': 60000}, {'Nama': 'Rayfal', 'Umur': 18, 'Total_Belanja': 40000}, {'Nama': 'Dede', 'Umur': 36, 'Total_Belanja': 76000}, {'Nama': 'Yasa', 'Umur': 15, 'Total_Belanja': 23000}, {'Nama': 'Tugu', 'Umur': 33, 'Total_Belanja': 79000}, {'Nama': 'Bana', 'Umur': 17, 'Total_Belanja': 45000}, {'Nama': 'Cici', 'Umur': 34, 'Total_Belanja': 65000}, {'Nama': 'Zahra', 'Umur': 25, 'Total_Belanja': 100000}, {'Nama': 'Maya', 'Umur': 17, 'Total_Belanja': 5000}, {'Nama': 'Nana', 'Umur': 31, 'Total_Belanja': 50000}, {'Nama': 'Velicia', 'Umur': 22, 'Total_Belanja': 12000}, {'Nama': 'Uli', 'Umur': 16, 'Total_Belanja': 79000}]
Data Pelanggan Setelah diurutkan berdasarkan: Umur
{'Nama': 'Hanif', 'Umur': 10, 'Total_Belanja': 8000}
{'Nama': 'Labubu', 'Umur': 14, 'Total_Belanja': 10000}
{'Nama': 'Putra', 'Umur': 14, 'Total_Belanja': 17000}
{'Nama': 'Wendy', 'Umur': 15, 'Total_Belanja': 3000}
{'Nama': 'Jaya', 'Umur': 15, 'Total_Belanja': 23000}
{'Nama': 'Yasa', 'Umur': 15, 'Total_Belanja': 23000}
{'Nama': 'Uli', 'Umur': 16, 'Total_Belanja': 79000}
{'Nama': 'Elia', 'Umur': 17, 'Total_Belanja': 65000}
{'Nama': 'Kalia', 'Umur': 17, 'Total_Belanja': 90000}
{'Nama': 'Ilyas', 'Umur': 17, 'Total_Belanja': 60000}
{'Nama': 'Bana', 'Umur': 17, 'Total_Belanja': 45000}
{'Nama': 'Maya', 'Umur': 17, 'Total_Belanja': 5000}
{'Nama': 'Abdi', 'Umur': 18, 'Total_Belanja': 50000}
{'Nama': 'Galang', 'Umur': 18, 'Total_Belanja': 150000}
{'Nama': 'Rayfal', 'Umur': 18, 'Total_Belanja': 40000}
{'Nama': 'Sasa', 'Umur': 19, 'Total_Belanja': 70000}
{'Nama': 'Figo', 'Umur': 20, 'Total_Belanja': 500000}
{'Nama': 'Qila', 'Umur': 20, 'Total_Belanja': 220000}
{'Nama': 'Ozan', 'Umur': 21, 'Total_Belanja': 155000}
{'Nama': 'Velicia', 'Umur': 22, 'Total_Belanja': 12000}
{'Nama': 'Zahra', 'Umur': 25, 'Total_Belanja': 100000}
{'Nama': 'Xela', 'Umur': 29, 'Total_Belanja': 30000}
{'Nama': 'Nana', 'Umur': 31, 'Total_Belanja': 50000}
{'Nama': 'Tugu', 'Umur': 33, 'Total_Belanja': 79000}
{'Nama': 'Cici', 'Umur': 34, 'Total_Belanja': 65000}
{'Nama': 'Dede', 'Umur': 36, 'Total_Belanja': 76000}

In [2]:
def quick_sort(arr, key):
    if len(arr) <= 1:
        return arr
    else:
      pivot = arr[len(arr) // 2][key]
      left = [x for x in arr if x[key] < pivot]
      middle = [x for x in arr if x[key] == pivot]
      right = [x for x in arr if x[key] > pivot]

      return quick_sort(left, key) + middle + quick_sort(right, key)

data_pelanggan = [
    {"Nama": "Abdi", "Umur": 18, "Total_Belanja": 50000},
    {"Nama": "Xela", "Umur": 29, "Total_Belanja": 30000},
    {"Nama": "Galang", "Umur": 18, "Total_Belanja": 150000},
    {"Nama": "Elia", "Umur": 17, "Total_Belanja": 65000},
    {"Nama": "Figo", "Umur": 20, "Total_Belanja": 500000},
    {"Nama": "Kalia", "Umur": 17, "Total_Belanja": 90000},
    {"Nama": "Labubu", "Umur": 14, "Total_Belanja": 10000},
    {"Nama": "Sasa", "Umur": 19, "Total_Belanja": 70000},
    {"Nama": "Putra", "Umur": 14, "Total_Belanja": 17000},
    {"Nama": "Ozan", "Umur": 21, "Total_Belanja": 155000},
    {"Nama": "Wendy", "Umur": 15, "Total_Belanja": 3000},
    {"Nama": "Qila", "Umur": 20, "Total_Belanja": 220000},
    {"Nama": "Jaya", "Umur": 15, "Total_Belanja": 23000},
    {"Nama": "Hanif", "Umur": 10, "Total_Belanja": 8000},
    {"Nama": "Ilyas", "Umur": 17, "Total_Belanja": 60000},
    {"Nama": "Rayfal", "Umur": 18, "Total_Belanja": 40000},
    {"Nama": "Dede", "Umur": 36, "Total_Belanja": 76000},
    {"Nama": "Yasa", "Umur": 15, "Total_Belanja": 23000},
    {"Nama": "Tugu", "Umur": 33, "Total_Belanja": 79000},
    {"Nama": "Bana", "Umur": 17, "Total_Belanja": 45000},
    {"Nama": "Cici", "Umur": 34, "Total_Belanja": 65000},
    {"Nama": "Zahra", "Umur": 25, "Total_Belanja": 100000},
    {"Nama": "Maya", "Umur": 17, "Total_Belanja": 5000},
    {"Nama": "Nana", "Umur": 31, "Total_Belanja": 50000},
    {"Nama": "Velicia", "Umur": 22, "Total_Belanja": 12000},
    {"Nama": "Uli", "Umur": 16, "Total_Belanja": 79000}

]

print("\n<-----Masukkan Angka Pilihan Data yang ingin ditampilkan----->")
print("1. Nama (A-Z)")
print("2. Umur Pelanggan")
print("3. Total Belanja Pelanggan")
pilihan = input("Masukkan pilihan :")

if pilihan == "1":
  key = "Nama"
elif pilihan == "2":
  key = "Umur"
elif pilihan == "3":
  key = "Total_Belanja"
else:
  print("Pilihan tidak valid:")
  exit()


sorted_data = quick_sort(data_pelanggan, key)
print("\n<-----Data Pelanggan E-Commerce Takapedia----->")
print("\nData Pelanggan Sebelum diurutkan:", data_pelanggan)
print(f"Data Pelanggan Setelah diurutkan berdasarkan: {key}")
for data_pelanggan in sorted_data:
    print(data_pelanggan)

<-----Masukkan Angka Pilihan Data yang ingin ditampilkan----->
1. Nama (A-Z)
2. Umur Pelanggan
3. Total Belanja Pelanggan
Masukkan pilihan :3

<-----Data Pelanggan E-Commerce Takapedia----->

Data Pelanggan Sebelum diurutkan: [{'Nama': 'Abdi', 'Umur': 18, 'Total_Belanja': 50000}, {'Nama': 'Xela', 'Umur': 29, 'Total_Belanja': 30000}, {'Nama': 'Galang', 'Umur': 18, 'Total_Belanja': 150000}, {'Nama': 'Elia', 'Umur': 17, 'Total_Belanja': 65000}, {'Nama': 'Figo', 'Umur': 20, 'Total_Belanja': 500000}, {'Nama': 'Kalia', 'Umur': 17, 'Total_Belanja': 90000}, {'Nama': 'Labubu', 'Umur': 14, 'Total_Belanja': 10000}, {'Nama': 'Sasa', 'Umur': 19, 'Total_Belanja': 70000}, {'Nama': 'Putra', 'Umur': 14, 'Total_Belanja': 17000}, {'Nama': 'Ozan', 'Umur': 21, 'Total_Belanja': 155000}, {'Nama': 'Wendy', 'Umur': 15, 'Total_Belanja': 3000}, {'Nama': 'Qila', 'Umur': 20, 'Total_Belanja': 220000}, {'Nama': 'Jaya', 'Umur': 15, 'Total_Belanja': 23000}, {'Nama': 'Hanif', 'Umur': 10, 'Total_Belanja': 8000}, {'Nama': 'Ilyas', 'Umur': 17, 'Total_Belanja': 60000}, {'Nama': 'Rayfal', 'Umur': 18, 'Total_Belanja': 40000}, {'Nama': 'Dede', 'Umur': 36, 'Total_Belanja': 76000}, {'Nama': 'Yasa', 'Umur': 15, 'Total_Belanja': 23000}, {'Nama': 'Tugu', 'Umur': 33, 'Total_Belanja': 79000}, {'Nama': 'Bana', 'Umur': 17, 'Total_Belanja': 45000}, {'Nama': 'Cici', 'Umur': 34, 'Total_Belanja': 65000}, {'Nama': 'Zahra', 'Umur': 25, 'Total_Belanja': 100000}, {'Nama': 'Maya', 'Umur': 17, 'Total_Belanja': 5000}, {'Nama': 'Nana', 'Umur': 31, 'Total_Belanja': 50000}, {'Nama': 'Velicia', 'Umur': 22, 'Total_Belanja': 12000}, {'Nama': 'Uli', 'Umur': 16, 'Total_Belanja': 79000}]
Data Pelanggan Setelah diurutkan berdasarkan: Total_Belanja
{'Nama': 'Wendy', 'Umur': 15, 'Total_Belanja': 3000}
{'Nama': 'Maya', 'Umur': 17, 'Total_Belanja': 5000}
{'Nama': 'Hanif', 'Umur': 10, 'Total_Belanja': 8000}
{'Nama': 'Labubu', 'Umur': 14, 'Total_Belanja': 10000}
{'Nama': 'Velicia', 'Umur': 22, 'Total_Belanja': 12000}
{'Nama': 'Putra', 'Umur': 14, 'Total_Belanja': 17000}
{'Nama': 'Jaya', 'Umur': 15, 'Total_Belanja': 23000}
{'Nama': 'Yasa', 'Umur': 15, 'Total_Belanja': 23000}
{'Nama': 'Xela', 'Umur': 29, 'Total_Belanja': 30000}
{'Nama': 'Rayfal', 'Umur': 18, 'Total_Belanja': 40000}
{'Nama': 'Bana', 'Umur': 17, 'Total_Belanja': 45000}
{'Nama': 'Abdi', 'Umur': 18, 'Total_Belanja': 50000}
{'Nama': 'Nana', 'Umur': 31, 'Total_Belanja': 50000}
{'Nama': 'Ilyas', 'Umur': 17, 'Total_Belanja': 60000}
{'Nama': 'Elia', 'Umur': 17, 'Total_Belanja': 65000}
{'Nama': 'Cici', 'Umur': 34, 'Total_Belanja': 65000}
{'Nama': 'Sasa', 'Umur': 19, 'Total_Belanja': 70000}
{'Nama': 'Dede', 'Umur': 36, 'Total_Belanja': 76000}
{'Nama': 'Tugu', 'Umur': 33, 'Total_Belanja': 79000}
{'Nama': 'Uli', 'Umur': 16, 'Total_Belanja': 79000}
{'Nama': 'Kalia', 'Umur': 17, 'Total_Belanja': 90000}
{'Nama': 'Zahra', 'Umur': 25, 'Total_Belanja': 100000}
{'Nama': 'Galang', 'Umur': 18, 'Total_Belanja': 150000}
{'Nama': 'Ozan', 'Umur': 21, 'Total_Belanja': 155000}
{'Nama': 'Qila', 'Umur': 20, 'Total_Belanja': 220000}
{'Nama': 'Figo', 'Umur': 20, 'Total_Belanja': 500000}